@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://media1.tenor.com/m/XW8WHGMZavwAAAAC/steampeace-steamhappy.gif');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 30px;
  --backgroundOpacity: 1;
  --homeImage: url('https://cdn.discordapp.com/attachments/1169005024333021234/1189179059775746160/64803e56cfcba.gif');
  --homeImageSize: cover;
  --themeColor1: #C27AFF;
  --themeColor2: #467FFF;
  --customFont: Montserrat;
  --backgroundCode: rgb(0,0,0,0.5);
  --backgroundName: rgba(0 0 0 /.5);
}
