@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://i.imgur.com/Yv5FqYQ.jpg');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 70px;
  --backgroundOpacity: 1;
  --homeImage: url('https://i.imgur.com/233d55Y.gif');
  --homeImageSize: cover;
  --themeColor1: #C27AFF;
  --themeColor2: #467FFF;
  --customFont: Comfortaa;
  --backgroundCode: rgb(0,0,0,0.5);
  --backgroundName: rgba(0 0 0 /.5);
}

ul[data-list-id="guildsnav"] > div[class^="footer"]
{
    display: none;
}
